@font-face { font-family: Futura; src: url('../fonts/Futura_PT/FuturaPTMedium.otf'); }


html, body {
  margin: 0;
  padding: 0;
  background-color: #403E5C;
  font-family: Futura;
}

p {
  font-size: 1.6em;
}

canvas {
  display: block;
}

#p5_loading{
  opacity: 0;
}

#_video{
  z-index: -99999;
  opacity: 0;
}

#sketch-holder {
  position: absolute;
  z-index: 999;
}

#promptDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

h1.prompt {
  position: absolute;
  top: 30%;
  text-align: center;
  font-size: 1.5em;
  color: #F1F1F3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

p.prompt {
  position: absolute;
  top: 37%;
  text-align: center;
  font-size: 1.2em;
  color: #F1F1F3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

#startBtnDiv {
  position: absolute;
  width: 100%;
  bottom: 39%;
  text-align: center;
}

#startBtn {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #403E5C;
  border-radius: 2px;
  border: 0 none;
  font-size: 1.2em;
  vertical-align: top;
}

#signUp {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999999;
  padding: 32px;
  opacity: 0;
  background-color: #403E5C;
}


/* Changes the style of the overall form */
#yy_embed_signup {
  background: #403E5C;
  color: #ffffff;
  text-align: center;
  margin: 2% auto 10px auto;
  /* text-align: left; */
  max-width: 800px;
  width: 100%;
  display: block;
  line-height: 150%;
  color: #403E5C;
  padding: 20px;
}

/* Styles the header text above the inputs */
#yy_embed_signup h1 {
  font-size: 32px;
  margin: 0 0 32px 15%;
  color: #ffffff;
  text-align: center;
  width: 70%;
  font-weight: 800;
}

#yy_embed_signup h2 {
  font-size: 28px;
  margin: 0 0 20px 15%;
  color: #ffffff;
  text-align: center;
  width: 70%;
  line-height: 1.3;
  font-weight: 400;
}

#yy_embed_signup h3 {
  font-size: 20px;
  margin: 0 0 12px 15%;
  color: #ffffff;
  text-align: center;
  width: 70%;
  font-weight: 100;
}

/* Adds extra space around the input boxes */
#yy_embed_signup .mc-field-group {
  padding: 10px 0;
}

/* Styles the input boxes */
#yy_embed_signup input {
  width: 66%;
  border-radius: 8px;
  padding: 10px;
  border-color: #cbcbcb;
  border-style: none;
}

/* Styles the subscribe button */
#yy_embed_signup .button {
  background-color: #B3791C;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  border: 0 none;
  font-size: 1.2em;
  vertical-align: top;
}

#yy_embed_signup label {
  width: 66%;
  color: white;
  padding-left: 0px;
  display: inline-block;
  text-align: left;
}


#pfy-signup-form input, button, select, textarea {
    font-family: Futura;
    font-size: inherit;
    line-height: inherit;
}
